body{
    background-color:rgb(234,235,237);
}
#container{
    margin-left: calc( (100% - 800px)/2);
    margin-top: 120px;
    width: 600px;
    font-size: 0;
}
#container > *{
    display: inline-block;
}
#left{
    width: 50%;
    /* background-color: #ac4747; */
    /* font-size: 12px; */
}
#left > img{
    margin-left: 50px;
}
#right{
    width: 50%;
    /* background-color: #c07070; */
    /* font-size: 12px; */

}
#right * {
    text-align: center;
    color:rgb(104,109,136);
}
#t404{
    font-size: 61px;
    font-weight: 900;
    color: rgb(52,65,78);
}

#aContainer{
    margin-top: 20px;
}
#aContainer > a{
    color: white;
    background-color: rgb(104,109,136);
    font-size: 14px;
    padding: 12px;
    text-decoration: none;
    font-weight: 700;
}

#t1{
    font-size: 20px;
}

#t2{
    font-size: 10px;
    font-weight: 400;
    margin-top: 25px;
    
}

/* #elementas{
    width: 200px;
    height: 200px;
    background-color: brown;
    margin: 50px 20px 30px 80px;
} */
